PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=scheduler
DB_PASSWORD=scheduler_pw
DB_NAME=reachinbox_scheduler

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Ethereal -- generate at https://ethereal.email/create, or programmatically via nodemailer.createTestAccount()
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=replace_with_random_string_for_jwt_signing

# Job settings
WORKER_CONCURRENCY=5
MIN_DELAY_BETWEEN_EMAILS_MS=2000
MAX_EMAILS_PER_HOUR=200
